<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Path</key>
	<dict>
		<key>sptjproducts</key>
		<string>/api/sptjproducts</string>
		<key>sptjnavigate</key>
		<string>/api/sptjnavigate</string>
		<key>fqmaterial</key>
		<string>/api/fqmaterial</string>
		<key>homenavigate</key>
		<string>/api/homenavigate</string>
		<key>homebanner</key>
		<string>/api/homebanner</string>
		<key>functionnavigate</key>
		<string>/api/functionnavigate</string>
		<key>searchcoupons</key>
		<string>/api/searchcoupons</string>
		<key>qualityproduct</key>
		<string>/api/qualityproduct</string>
		<key>guesslike</key>
		<string>/api/guesslike</string>
		<key>productrecommend</key>
		<string>/api/productrecommend</string>
		<key>homejxwl</key>
		<string>/api/homejxwl</string>
		<key>optimusmaterial</key>
		<string>/api/optimusmaterial</string>
		<key>getproductdetail</key>
		<string>/api/getproductdetail</string>
		<key>navigateproduct</key>
		<string>/api/navigateproduct</string>
		<key>homeactivity</key>
		<string>/api/homeactivity</string>
		<key>producthotlist</key>
		<string>/api/producthotlist</string>
		<key>getstoreproductlist</key>
		<string>/api/getstoreproductlist</string>
		<key>queryhotkey</key>
		<string>/api/queryhotkey</string>
		<key>getbrowseproductlist</key>
		<string>/api/getbrowseproductlist</string>
		<key>feedbacktype</key>
		<string>/api/feedbacktype</string>
		<key>uploadfiles</key>
		<string>/api/uploadfiles</string>
		<key>basicinfo</key>
		<string>/api/basicinfo</string>
		<key>feedback</key>
		<string>/api/feedback</string>
		<key>browseproductrecord</key>
		<string>/api/browseproductrecord</string>
		<key>storeproduct</key>
		<string>/api/storeproduct</string>
		<key>browseproduct</key>
		<string>/api/browseproduct</string>
		<key>userlogin</key>
		<string>/api/userlogin</string>
		<key>getuserinfo</key>
		<string>/api/getuserinfo</string>
		<key>downloadurl</key>
		<string>/api/downloadurl</string>
		<key>storeproductrecord</key>
		<string>/api/storeproductrecord</string>
		<key>getfeedbacklist</key>
		<string>/api/getfeedbacklist</string>
		<key>version</key>
		<string>/api/version</string>
		<key>versionUpInfo</key>
		<string>/api/version</string>
	</dict>
	<key>IP</key>
	<dict>
		<key>DevIP</key>
		<string>http://shanmi.qytimes.cn</string>
		<key>ReleaseIP</key>
		<string>http://shanmi.qytimes.cn</string>
		<key>TaoTaoIP</key>
		<string>http://api.qytimes.cn:36542</string>
	</dict>
</dict>
</plist>
